-let contact = 'contact'

h5 Contacts
div(class="contact-tools")
   i(class="fa fa-video" data-bs-toggle="modal" data-bs-target="#videoRoomD")
   i(class="fa fa-search" data-bs-toggle="modal" data-bs-target="#newChat")
   i(class="fas fa-ellipsis-h" data-bs-toggle="dropdown")