- let createpost = 'create post'
         div(class="create-post__input")
            div 
               img(src="https://source.unsplash.com/random/1" alt="avatar" class="icon--circle icon--lg")
            input(class="input input--lg" type="text" placeholder="What's on your mind" data-bs-toggle="modal" data-bs-target="#createPostModal")   
         hr
         div(class="create-post__action flex-lg-row ")
            div 
               i(class="fas fa-video text-danger")
               p Live video
            div 
               i(class="fas fa-video text-success")
               p Photo/video
            div 
               i(class="fas fa-video text-warning")
               p Feeling/Activity 