-let menu = 'mưnu'
            div(class="menu-avatar d-none d-xl-flex align-items-center justify-content-center ")  
               img(class="image--circle image--lg" src="https://source.unsplash.com/random/1" alt="avatar")
               p Hieu
            div(class="main-menu image--circle image--lg")
               i(class="fa-solid fa-ellipsis")
            div(class="menu-chat image--circle image--lg" type="button" id="chatMenu" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside")
                  i(class="fa-solid fa-comment noti")
                     span(class="noti--red")
                        p 1  
            div(class="notification image--circle image--lg")
               i(class="fa-solid fa-bell noti")
                  span(class="noti--red")
                     p 1 
            div(class="secondary-menu image--circle image--lg")
               i(class="fa-solid fa-sort-down")