
-let nav = 'nav'

            div(class="nav__btn nav__btn--active")
               button(class="btn") 
                  i(class="fa-solid fa-house")
            div(class="nav__btn ")
               button(class="btn") 
                  i(class="fa-solid fa-circle-play")
            div(class="nav__btn ")
               button(class="btn") 
                  i(class="fa fa-store")
            div(class="nav__btn ")
               button(class="btn") 
                  i(class="fa fa-users noti")
                     div(class="noti--red")
                        p 1