:root {
 --bg-gray: #f0f2f5;
 --bg-gray-dark: #5d5d5d;
 --bg-white: #fff;
 --bg-red: #ff0000;

 --primary: #3ba1c5;
 --muted: #3f3c3c;
 --success: green;
 --danger: red;
 --warning: yellow;

 --fs-3: 3rem;

 --z-header: 5;

 --padding-x-sm: 0 4px;
 --padding-x-md: 0 8px;

 --margin-y-md: 8px 0;
 --padding-y-lg: 16px 0;

 --shadow: .5px .5px .5px #cdcdcd;

 --border-pill: 15px;
 --border-rounded: 5px;


}

html {
 font-size: 100%;
}

body {
 background-color: var(--bg-gray);
}

.header {
 background-color: var(--bg-white);
 min-height: 56px;
 z-index: var(--z-header);
 position: fixed;
 width: 100%;
 top: 0;
 box-shadow: .5px .5px .5px #cdcdcd;

 display: flex;
 align-items: center;
}

.dropdown-item:active {
 background-color: #d5d5d5 !important;
}


/* //////////////////// */



/*  */
.--z-5 {
 z-index: 5
}

.--z-4 {
 z-index: 4
}

.image--circle {
 object-fit: cover;
 border-radius: 50%;
}

.image--square {
 border-radius: 5px;
 object-fit: cover;
}

.image--card-md {
 border-radius: 5%;
 object-fit: cover;
 min-height: 125px;
 width: 100%;
}

.image--card-lg {
 border-radius: 5%;
 object-fit: cover;
 min-height: 190px;
 width: 100%;
}

.image--sm {
 width: 15px;
 height: 15px;
}

.image--m {
 width: 20px;
 height: 20px;
}

.image--md {
 width: 35px;
 height: 35px;

}
.image--lg {
 width: 58px;
 height: 58px;
}

.image--2xl {
 height: 100px;
 width: 100px;
}

.noti--red {
 position: absolute;
 top: 0;
 left: 100%;
 height: 1em;
 width: 1em;
 border-radius: 50%;
 padding: 4px;
 background-color: var(--bg-red);
 transform: translate(-50%, -50%);
 color: #fff;
}

.noti {
 position: relative;
}

.noti--red p {
 font-size: .5em;
 display: flex;
 justify-content: center;
 align-items: center;
}

/* slide-control */

.slide-button {
 position: absolute;
 transform: translate(-50%, -50%);
}

.slide-button i {
 padding: 6px;
 color: var(--muted);
 background-color: var(--bg-white);
}


.slide-button--next {
 top: 50%;
 left: 100%
}

.slide-button--previous {
 top: 50%;
 left: 0
}

