@media (max-width: 70.25em) {
  :root {
    --layout-column-gap: 3.2rem;
    --layout-row-gap: 4.8rem;
  }
  html {
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
    margin-bottom: 2.4rem;
    margin-top: 3.6rem;
  }

  .hero {
    padding: 0;
  }

  .hero .container {
    padding: 0;
  }

  .feature {
    padding: 0;
  }
  .footer {
    padding: 0;
  }

  .footer .container {
    display: flex;
    flex-direction: column;
  }

  .footer-column__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-details {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .footer-column {
    padding: 2rem;
    margin: 1rem;
    border-bottom: 1px solid #cdcdcd;
  }

  .footer-column:nth-child(4) {
    border-bottom: none;
  }
}

@media (max-width: 62.5em) {
  .header__tool {
    margin: 6rem auto 0 auto;
  }

  .header__menu {
    top: -50%;
  }

  .searchbar__item {
    padding: 1.5rem 3rem;
  }
}

@media (max-width: 46.5em) {
  html {
    font-size: 52.25%;
  }

  .grid {
    row-gap: 2.4rem;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
  .container {
    padding: 0 1.6rem;
  }

  .header {
    display: none;
  }

  .hero {
    height: 100vh;
  }

  .searchbar--mobile {
    display: flex;
    width: 85%;
    position: absolute;
    left: 50%;
    top: 10rem;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
  }

  .searchbar--mobile h2 {
    font-size: 1.5rem;
  }

  .footer-column__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .footer-details {
    align-items: flex-start;
  }
}
