/**************************/
/* HEADER */
/**************************/

.header {
  font-size: 1.5rem;
  padding: 3rem 8rem;
  background-color: var(--color-black);
  color: var(--color-white);
}

.logo {
  height: 3rem;
  margin-right: auto;
}

.header__navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 3rem;
  gap: 1.4rem;
}

.header__user {
  display: flex;
  border-radius: 3rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-white);
  justify-content: space-between;
  align-items: center;
}

.header__user img {
  height: 3rem;
}

.header__icon {
  height: 3rem;
}

.header__tool {
  max-width: 100rem;
  margin: 0 auto;

  position: relative;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  color: var(--color-black);
  border-radius: 4rem;
  background-color: var(--color-white);
}

.searchbar--mobile {
  display: none;
}

.searchbar__item {
  border-radius: 4rem;
  padding: 2rem 5rem;
  transition: all 1s;
  cursor: pointer;
}
.searchbar__item:hover {
  border-radius: 4rem;
  background-color: rgb(202, 202, 202);
}

.header__menu {
  position: absolute;
  left: 50%;
  top: -65%;
  transform: translate(-50%, -50%);
}

.header__menu ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.header__menu-item:link,
.header__menu-item:visited {
  display: inline-block;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  color: var(--color-white);
  text-decoration: none;
  transition: all 1s;
}

.header__menu-item:hover,
.header__menu-item:active {
  border-bottom: 1px solid var(--color-white);
}

.active {
  border-bottom: 1px solid var(--color-white);
}

.header__search-icon {
  height: 3rem;
  position: absolute;
  background-color: pink;
  right: -1rem;
  top: 50%;
  transform: translate(-50%, -50%);
}

/**************************/
/* HERO */
/**************************/
.hero {
  background-color: var(--color-black);
  padding: 0 5% 5% 5%;
}

.hero.container {
  position: relative;
}

.hero__textbox {
  position: absolute;
  left: 50%;
  bottom: 0%;
  text-align: center;

  transform: translate(-50%, -50%);
}

.hero__image {
  width: 100%;
  border-radius: 0.5rem;
}

/**************************/
/* FEATURE */
/**************************/

.feature {
  padding: 2% 5%;
}

.feature__box-image {
  width: 100%;
  height: 80vh;
  border-radius: 1rem;
}
.feature__box {
  position: relative;
}

.feature__box--full {
  grid-column: 1/-1;
}

.feature__box--full .btn {
  position: absolute;
  left: 0;
  bottom: -250%;
}

.feature__textbox {
  position: absolute;
  left: 40%;
  top: 25%;

  transform: translate(-50%, -50%);
}

.feature__textbox .btn {
  text-align: center;
}

/**************************/
/* FOOTER */
/**************************/
.footer {
  background-color: var(--color-grey-light);
  padding: 4rem 5%;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-details {
  grid-column: 1/-1;
  border-top: 1px solid rgb(155, 151, 151);
  padding-top: 2rem;
  margin-top: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-column__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-column__title {
  margin-bottom: 1.5rem;
}

.footer-column__list-item {
  font-size: 1.5rem;
  cursor: pointer;
}

.footer-column__list-item:hover {
  text-decoration: underline;
}

.footer-info {
  font-size: 1.3rem;
  display: flex;
  gap: 1.5rem;
}

.footer-others {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-others__icon {
  height: 2.5rem;
}
.footer-others__setting {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: underline;
}
