

header(class="header") 
   container(class="container-fluid")
      div(class="row justify-content-evenly")
         div(class="search col") 
            include ../container/header/search
         nav(class="nav col d-none d-lg-flex justify-content-between")
             include ../container/header/navigation     
         div(class="menu col")
             include ../container/header/menu 
            
