
- const hello = 'hi'

   container
      div(class="stories") 
         include ../container/timeline/stories
      div(class="create-post")     
         include ../container/timeline/create-post
      div(class="create-room")         
         include ../container/timeline/create-room
      div(class="post")                             
         include ../container/timeline/post
                                 
                     