.bg-gray {
  background-color: #f0f2f5;
}
.nav__btn:hover {
  background-color: #f0f2f5 !important;
}

.nav__btn button:hover i {
  color: blue !important;
}

.nav__btn-active i {
  color: blue !important;
}
.nav__btn-active {
  position: relative;
}

.edit-button {
  opacity: 0;
}

.edit-button:hover {
  opacity: 1;
}

.edit-heading:hover .edit-button {
  opacity: 1;
}

.scrollbar:hover {
  overflow: auto !important;
}

.dropdown-item:active {
  background-color: #d5d5d5 !important;
}

.story:hover {
}

.nav__btn-active::before {
  content: "";
  position: absolute;
  bottom: -4.5px;
  left: 0;
  width: 100%;
  transform: translate(4.5px);
  border-bottom: 3px solid blue;
}
